body, select {
	background:#282828;
	color:white;
}

a, #authLink {
	color:#9b9b9b;
}

input, button{
	background:#6a6a6a;
	color:white;
}

.lodr div {
	background:white;
}

.hdr h1 {
	color:white;
}

.vidChip, .horiVidChip, .largeHoriChip {
	background:#464646;
	color:white;
}

.horiInnerChip {
	background:#1a1a1a;
	color:white;
}