@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background:black;
    color:white;
    font-family:"Roboto",Verdana;
    margin:0;
    overflow-x:hidden;
}

.material-icons {
    vertical-align:text-bottom;
}

h1, h2 {
    margin-top:0;
    margin-bottom:0;
}

a {
    color:white;
    text-decoration:none;
}

@media (max-width:1000px) {
    .sidebar {
        top:0;
        left:0;
        position:fixed;
        width:100%;
        height:100px;
        background:#282828;
        text-align:center;
        padding-top:15px;
    }

    .sidebar input {
        background:black;
        color:white;
        border:none;
        height:35px;
        width:64%;
        padding-left:3%;
    }

    .sidebar button {
        background:black;
        color:white;
        height:35px;
        cursor:pointer;
        border:none;
    }

    .body {
        margin-top:115px;
        margin-bottom:230px;
        padding-left:1%;
        padding-right:1%;
    }

    .chart div {
        background:#282828;
        cursor:pointer;
        margin-bottom:3%;
        padding-bottom:3%;
    }

    .chart div img {
        width:95%;
        padding:2.0%;
    }

    .chart h4 {
        font-weight:bold;
    }

    .chart h4, .chart h5 {
        margin:0;
        padding-left:2%;
        padding-right:2%;
    }

    .sectionTitle {
        margin-bottom:2%;
    }

    #player, #playerLoading {
        bottom:0;
        left:0;
        position:fixed;
        z-index:2;
        background:black;
        height:200px;
        width:100%;
    }

    #cover {
        width:150px;
        height:150px;
        padding:25px;
        float:left;
    }

    .pInfo {
        float:left;
        padding-top:5%;
        padding-bottom:5%;
    }

    .pInfo h2, .pInfo h3 {
        margin:0;
        color:white;
        text-decoration:none;
    }

    .snackBar * {
        float:left;
        max-width:100%;
    }

    .snackBar button {
        background:#282828;
        color:white;
    }

    .prog {
        background:#131313;
        width:100%;
        height:15px;
    }
    
    .progIn {
        background:white;
        width:0%;
        height:100%;
        transition: width 0.5s;
    }

    .infBlock {
        margin-top:22%;
        width:100%;
        height:200px;
    }

    .infBlock img, .infBlock div {
        float:left;
    }

    .infBlock img {
        width:200px;
        height:200px;
    }

    .infBlock div {
        width:calc(100% - 200px);
        height:200px;
        margin-left:205px;
        margin-top:-200px;
    }

    .infBlock div * {
        margin:0;
    }

    .chip, .chipLarger {
        width:100%;
        min-height:115px;
        background:#131313;
        margin-bottom:0.75%;
        cursor:pointer;
    }

    .chipLarger {
        min-height:200px;
    }

    .chip img, .chipLarger img {
        object-fit:cover;
        width:102px;
        height:102px;
        padding-left:1%;
        padding-top:1%;
        float:left;
    }

    .chipLarger img, .chipLarger div {
        float:left;
    }

    .chip div {
        float:left;
        width:75%;
        height:102px;
        padding-top:1%;
        padding-left:1%;
    }

    .chipLarger div {
        padding-left:1%;
        max-width:70%;
        padding-top:1%;
    }

    .chip div *, .chipLarger div * {
        float:none;
        margin:0;
    }
}

@media (min-width:1001px) {
    .sidebar {
        top:0;
        left:0;
        position:fixed;
        height:100%;
        width:20%;
        background:#282828;
        z-index:1;
        padding-left:1%;
        padding-top:2%;
    }

    .sidebar input {
        background:black;
        color:white;
        border:none;
        height:35px;
        width:64%;
        padding-left:3%;
    }

    .sidebar button {
        background:black;
        color:white;
        height:35px;
        cursor:pointer;
        border:none;
    }

    .body {
        margin-left:20%;
        padding-left:1%;
        padding-right:1%;
    }

    .sectionTitle {
        padding-left:1%;
        padding-top:1.5%;
        padding-bottom:1.5%
    }

    .chart {
        padding-left:1%;
    }

    .chart div {
        float:left;
        width:250px;
        height:300px;
        margin-right:1%;
        margin-bottom:1%;
        cursor:pointer;
    }

    .chart h4 {
        font-weight:bold;
    }

    .chart h4, .chart h5 {
        margin:0;
    }

    .chart img {
        width:250px;
        height:250px;
    }

    .chart div div {
        float:none;
    }

    #player, #playerLoading {
        bottom:0;
        left:0;
        position:fixed;
        z-index:2;
        background:black;
        height:200px;
        width:100%;
    }

    #playerLoading {
        padding:1%;
    }

    #cover, .pInfo {
        float:left;
    }

    #cover {
        height:100%;
    }

    .pInfo {
        padding:1%;
    }

    .pInfo h2, .pInfo h3 {
        margin:0;
    }

    .prog {
        background:#131313;
        width:100% - 200px;
        height:15px;
        margin-left:200px;
    }

    .progIn {
        background:white;
        width:0%;
        height:100%;
        transition: width 0.5s;
    }

    a:hover .hoverline {
        text-decoration:underline;
        cursor:pointer;
    }

    .pSpace {
        width:100%;
        height:220px;
    }

    #content {
        padding-left:1%;
        padding-top:1%;
    }

    .infBlock {
        width:100%;
        height:400px;
    }

    .infBlock img, .infBlock div {
        float:left;
    }

    .infBlock img {
        width:400px;
        height:400px;
        padding-right:0.75%;
    }

    .infBlock div * {
        margin:0;
    }

    .snackBar {
        margin-top:5px;
    }

    .snackBar * {
        float:left;
        margin-right:2px;
    }

    .snackBar button {
        background:#282828;
        color:white;
        border:none;
        height:30px;
    }

    .snackBar .active {
        background:#484848;
    }

    .collumnContainer {
        float:left;
        width:49%;
        margin-right:1%;
    }

    .chip, .chipLarger {
        width:100%;
        min-height:115px;
        background:#131313;
        margin-bottom:0.75%;
        cursor:pointer;
    }

    .chipLarger {
        min-height:250px;
    }

    .chip img {
        object-fit:cover;
        width:102px;
        height:102px;
        padding-left:1%;
        padding-top:1%;
        float:left;
    }

    .chipLarger img, .chipLarger div {
        float:left;
    }

    .chip div {
        float:left;
        width:75%;
        height:102px;
        padding-top:1%;
        padding-left:1%;
    }

    .chipLarger div {
        padding-left:1%;
        padding-top:1%;
    }

    .chip div *, .chipLarger div * {
        float:none;
        margin:0;
    }
}