* {
	color:black;
}

a, #authLink {
	color:#515151;
}

a:hover, #authLink:hover {
	color:#757575;
}

.lodr div {
	background:black;
}

.hdr h1 {
	color:black;
}

.vidChip, .horiVidChip, .largeHoriChip, .comment, .smallHoriChip {
	background:#eaeaea;
	color:black;
}

.horiInnerChip {
	background:#aaa;
	color:black;
}