* {
	color:black;
}

a, #authLink {
	color:#515151;
}

.lodr div {
	background:black;
}

.hdr h1 {
	color:black;
}

.vidChip, .horiVidChip, .largeHoriChip {
	background:#eaeaea;
	color:black;
}

.horiInnerChip {
	background:#aaa;
	color:black;
}